.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: red;
}

.box:hover {
  background: red;
}

.buttons {
  position: center;
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  margin-top: 20px;
}

.btn {
  font-weight: bold;
  background-color: red;
  margin: 5px;
  border: 3px solid black;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: black;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}
